.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 10px 10px 10px;
  }
.slds-table th{
  padding-left:0rem;
  text-align: center;
}
tr:nth-child(even) {
	background: #eff4ff;
}

tr:nth-child(odd) {
	background: #fff;
}