.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 10px 10px 10px;
}

.header-sub-table {
    font-size: 1em;
    padding-left: 15px;
}

.select-wipper {
    margin-left: 20px;
    width: 120px;
}

.select {
    margin-left: 20px;
}